{% load crispy_forms_tags %}

{% if messages %}
<<ul class="messages">
	{% for messages in messages%}
	<li{% if messages.tags %} class="{{messages.tags}} {%endif%}">{{messages}}</li>
	{% endfor %}}
</ul>
{% endif %}

<div>
	<h2>Formulario</h2>
	
	<form method="post" action="" enctype="multipart/form-data" > {% csrf_token %}
		{{form|crispy}}
		<input type="submit" class="btn bnt_default"></input>	
	</form>	
<div>	


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

